# Исключить все файлы с расширением .a
*.a

# Отслеживать файл lib.a, даже если он попадает под исключение
!lib.a

# Исключить TODO в корневой директори, но не например в /test/TODO

/TODO

# Игнорировать все файлы директории build/

build/


# Игнорировать файлы docs/notes.txt, но не файл doc/server/arch.txt

doc/*.txt

# Игнорировать все .txt файлы в директории doc/

doc/**/*.txt

